.expenses {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 1.5rem 0;
  width: 90%;
  max-width: 98%;

  max-height: 50rem;
  overflow-y: scroll;
}

/* width */
.expenses::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.expenses::-webkit-scrollbar-track {
  background: rgb(31, 31, 31);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Handle */
.expenses::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
.expenses::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 518px) {
  .expenses {
    width: 98%;
  }
}
