.form {
  display: flex;
  flex-direction: column;
}

.new-expense__controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.new-expense__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-expense__control label {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-family: monospace;
  letter-spacing: 0.1rem;
  color: #fff;
  flex: 1 1;
}
.new-expense__control input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  flex: 4 1;
  margin-right: 3rem;
}
.new-expense__control input:focus {
  outline: none;
  border-bottom: 3px solid rgb(7, 241, 54);
}

.new-expense__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 3rem;
}
.btn__cancel {
}
.btn__addExp,
.btn__cancel {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  transition: all 1s;
}

.btn__cancel:hover {
  background-color: rgb(244, 38, 6);
}
.btn__addExp:hover {
  background-color: rgb(69, 236, 69);
}

@media (max-width: 518px) {
  .new-expense__control input {
    margin-right: 0;
    flex: 3 1;
    padding: 0.25rem 0.5rem;
  }
  .new-expense__control label {
    font-size: 1rem;
  }
  .new-expense__actions {
    margin-right: 0;
  }
}
