.new-expense {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgb(103, 145, 251);
  width: 90%;
  /* min-width: 90%; */
  padding: 1rem;
  margin-bottom: 2.5rem;
}
.btn__addExp {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  transition: all 1s;
}
@media (max-width: 518px) {
  .new-expense {
    width: 98%;
  }
}
